/* Fonts */
:root {
	--serif: Cambria, Cochin, Georgia, Times, "Times New Roman", "Roboto Serif", serif;
	--sans: "Segoe UI", Tahoma, Geneva, Verdana, Roboto, sans-serif;
	--mono: "Courier New", Courier, "Roboto Mono", monospace;
}


/* Note: Primary and secondary colors must be broken into sub-components for calculations to work. */
/* Day theme */
:root {
	--back:		#ffffff;
	--fore:		#000000;
	--pri:		#0000ee;
	--sec:		#551a8b;
	--link:		var(--pri);
	--visited:var(--sec);

	--back-thin:	#FFFFFF55;
	--back-thick:	#FFFFFFAA;

	--fore-thin:	#00000022;
	--fore-thick:	#000000AA;

	--pri-thin:  #0000ee34;
	--pri-thick: #0000ee88;

	--sec-thin: #551a8b34;
	--sec-thick:#551a8bAA;
}

/* Night theme */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--back: #000000;
		--fore: #ffffff;
		--pri:  #4a4aff;
		--sec:  #8328d7;
		--link: 	 var(--pri);
		--visited: var(--sec);
		
		--back-thin:  #00000055;
		--back-thick: #000000AA;

		--fore-thin:  #FFFFFF22;
		--fore-thick: #FFFFFFAA;

		--pri-thin:  #4a4aff34;
		--pri-thick: #4a4affAA;

		--sec-thin:  #8328d734;
		--sec-thick: #8328d7AA;
	}
}

/* Parameters */
:root {
	--pad: .5rem;
	--thinLine: .1rem solid;
	--reader-width: 40em;
}

/* General */
:root {
	background-color: var(--back);
	color: var(--fore);
}

a:any-link{
	font-weight:bold;
}
:not(nav) a:link {
	color: var(--link);
}

:not(nav) a:active,
:not(nav) a:visited {
	color: var(--visited);
}

body {
	font-family: var(--sans);
}

h1, h2, h3,
h4, h5, h6,
header {
	font-family: var(--serif);
}

aside {
	padding: 0.25em;
}

/* Page layout */
header {
	border-bottom: var(--thinLine) var(--pri-thin);
}
header a:any-link{
	text-decoration:none;
}

body > nav {
	border-bottom: var(--thinLine) var(--pri-thin);
	padding: var(--pad) 0;
}

body > nav a {
	border-left: var(--thinLine) var(--pri-thin);
	padding: var(--pad);
}
body > nav a:last-child {
	border-right: var(--thinLine)var(--pri-thin);
}

body > aside{
	border: var(--thinLine) var(--fore-thin);
}

nav a:any-link {
	color: var(--fore);
	text-decoration: none;
}

article{
	max-width: var(--reader-width);
}

footer {
	font-size: 0.75rem;
	border-top: var(--thinLine) var(--sec-thin);
	padding: var(--pad);
}