/* Fonts */
:root {
	--serif: Cambria, Cochin, Georgia, Times, "Times New Roman", "Roboto Serif", serif;
	--sans: "Segoe UI", Tahoma, Geneva, Verdana, Roboto, sans-serif;
	--mono: "Courier New", Courier, "Roboto Mono", monospace;
}


/* Note: Primary and secondary colors must be broken into sub-components for calculations to work. */
/* Day theme */
:root {
	--bg: 0, 0%, 100%;
	--fg: 0, 0%, 0%;
	--p: 204, 100%, 40%;
	--s: 204, 100%, 32%;
	--back: hsl(var(--bg));
	--fore: hsl(var(--fg));
	--pri: hsl(var(--p));
	--sec: hsl(var(--s));
	--link: var(--pri);
	--visited: var(--sec);
}

/* Night theme */
@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg: 0, 0%, 0%;
		--fg: 0, 0%, 100%;
		--p: 204, 100%, 40%;
		--s: 251, 48%, 41%;
		--back: hsl(var(--bg));
		--fore: hsl(var(--fg));
		--pri: hsl(var(--p));
		--sec: hsl(var(--s));
		--link: var(--pri);
		--visited: var(--sec);
	}
}

/* Parameters */
:root {
	--pad: .25em;
}